<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<body>

	<th:block th:fragment="alert_delete_dialog">
		
<!-- Modal Dialog -->
	<div class="modal fade" id="changeStatus" role="dialog" aria-labelledby="label" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close fa fa-close" data-dismiss="modal" aria-hidden="true"></button>
	        <h4 class="modal-title">Cambiar Estado</h4>
	      </div>
	      <div class="modal-body">
	        <p>Está seguro de cambiar el estado?</p>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	        <button type="button" class="btn btn-danger"  data-href="" id="confirmStatus">Cambiar</button>
	      </div>
	    </div>
	  </div>
	</div>
	</th:block>
</body>
</html>